.pagetitle{
    margin-bottom: 5%;
    margin-top:2%;
    text-align: center;
}


hr{
	border-top: 5px double whitesmoke;
}

.midtitle{
    font-size: 300%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

#rembuton{
    margin-left: 5%;
    margin-top: -50%;
    border-radius: 20px;
}

#adminsearch{
    width:25%;
    margin: auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}


#admintable{
    align-self: center;
    margin: auto;
    padding: 2%;
    width:80%;
}


#profilecard{
    width: 15%;
    height: 50%;
    display: block;
    padding: 1%;
    margin-left: 2%;
    margin-top: 2.5%;
    border-radius: 10px;
}


#listgroup{
    width: 70%;
    margin-left: 2%;
    margin-top: 2%;
    padding: 0.5%;
}


.divcarta{
    display: inline-block;
    margin-right: 5%
}


.swipe{
    margin-top:1%;
    margin-left:2%;
    overflow-x:scroll;
    white-space:nowrap;
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    object-fit: contain;
    border: 4px solid rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    height: 75%;
}

.swipe2{
    margin: auto;
    overflow-x:scroll;
    white-space:nowrap;
    width: 85%;
    max-width: 85%;
    min-width: 70%;
    object-fit: contain;
    border: 4px solid rgba(0, 0, 0, 0.39);
    border-radius: 1%;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.carta{
   margin-left: 8%;
   margin-right: 1.5%;
   border: 2px solid rgba(0, 0, 0, 0.39);
   border-radius: 3%;
   transition: transform .2s; /* Animation */
   object-fit: cover;
   height: 311px;
   width: 226px;
   box-shadow: 20px 20px 20px grey;
}


.carta:hover {
  z-index: 100;
  transform: scale(1.12);
    transform-origin: 50% 50%;
}

.firsticon{
    width: 80px;
    height: 80px;
}

.card-img-top{
    z-index: 1000;
    transition: transform .2s; /* Animation */
}

.card-img-top:hover{
  transform: scale(1.4);
}


.TitleContainer{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    font-size: 150%;
    margin-top: 3%;
}

.eftitle{
    margin-top: 4%;
    font-size: 150%;
}

.icona{
    margin-top: 2%;
    margin-left: 3%;
    max-width: 100px;
    max-height: 100px;
    margin-right: 2%;
    border-radius: 20%;
    border: 3px solid grey;
    object-fit: contain;
}

.commentsection2{
    border: 4px solid rgba(0, 0, 0, 0.39);
    border-radius: 2%;
    margin-left: 5%;
    height: 60%;
    margin-bottom: 5%;
    object-fit: contain;

    max-height: 60%;
    min-width: 20%;
    min-height: 50%;
    background-color: whitesmoke;
    overflow-y:scroll;
    white-space:nowrap;

}

.commentsection{
    width:20%;
    border: 4px solid rgba(0, 0, 0, 0.39);
    border-radius: 2%;
    margin-left: 5%;
    height: 60%;
    margin-bottom: 5%;
    object-fit: contain;

    max-height: 60%;
    min-width: 20%;
    min-height: 50%;
    background-color: whitesmoke;
    overflow-y:scroll;
    white-space:nowrap;

}

.avatars{
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.poolwindow{
    background-color: whitesmoke;
    width: 65%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    border-radius: 20px;
}

.float-on-hover {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.float-on-hover:hover, .float-on-hover:focus, .float-on-hover:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

#anbutton{
  position: relative;
  overflow: hidden;
}

#anbutton:after {
  animation: shine 2s ease-in-out  infinite;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */

/* Active state */

#anbutton:active:after {
  opacity: 0;
}

@keyframes shine{
  10% {
    opacity: 1;
    top: -10%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -10%;
    left: 100%;
    transition-property: left, top, opacity;
  }
}