{% extends 'TAbase.html' %}


{% block head %}
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}



{% block body %}
<h1 style="margin-bottom: 5%; margin-top:2%; text-align: center">Gestione carte</h1>

<form action="{{url_for('admincards')}}" method="post" class="form-inline" style="width:25%; margin: auto; margin-bottom: 2%; display: flex; flex-direction: row; margin-top: 3%">
    <input class="form-control mr-sm-2" name="filtro" type="search" placeholder="Ricerca carte..." aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="material-icons md-24">view_timeline</span></button>
    {%if filtervalue%} <button class="btn btn-outline-danger my-2 my-sm-0" form="deleteform" type= "submit" title="Annulla ricerca"><span class="material-icons md-24">close</span></button> {%endif%}
</form>
    <form action="{{url_for('admincards')}}" method="post" style="display: none" id="deleteform">
        <input type="hidden" name="delete" value="1">
</form>


<div style="text-align: center; margin-top: 3%; margin-bottom: 3%;">
  <button class="btn btn-success" onclick="window.location.href=`{{ url_for('admincardsadd') }}`">Aggiungi una carta</button>
</div>


<hr>

<table class="table table-striped" id="admintable">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome carta</th>
      <th scope="col">Immagine</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
  {%for carta in carte%}
  <tr>
      <th scope="col">{{carta.id}}</th>
      <th scope="col">{{carta.name}}</th>
      <th scope="col"><img style="height:150px; width:110px" class="carta" src="{{ url_for('static', filename=carta.image) }}"></th>
      <th scope ="col"><form method="post" style="margin-top: 10%" action="{{url_for('deletecards')}}">
            <input type="hidden" name="idcarta" value="{{carta.id}}">
            <button type="submit" class="btn btn-danger">Elimina</button>
            </form>
      </th>
  </tr>
  {%endfor%}
  </tbody>
</table>

{% endblock %}


