{% extends 'TAbase.html' %}


{% block head %}
<link href="static/base.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}


{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js')}}">\x3C/script>')</script>


<h1 class="pagetitle">Gestione report utenti</h1>


{% with messages=get_flashed_messages(with_categories=true) %}
 {% for category, message in messages %}
  <div id="alerto" class="alert alert-success" role="alert">
      {{message}}
  </div>
 {% endfor %}
{% endwith %}



<form action="{{url_for('admin')}}" method="POST" class="form-inline" id="adminsearch">
    <input class="form-control mr-sm-2" name="filtro" type="search" placeholder="Ricerca utenti per username..." aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="material-icons md-24">account_circle</span></button>
    {%if filtervalue%} <button class="btn btn-outline-danger my-2 my-sm-0" form="deleteform" type= "submit" title="Annulla ricerca"><span class="material-icons md-24">close</span></button> {%endif%}
</form>
    <form action="{{url_for('admin')}}" method="post" style="display: none" id="deleteform">
        <input type="hidden" name="delete" value="1">
</form>

<hr>
{% set ns = namespace(count=0) %}

<table class="table table-striped" id="admintable">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Nome profilo</th>
        <th scope="col">N°report</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
  {%for user in users%}
  <tr>
      <th scope="col">{{user.email}}</th>
      <th scope="col">{% for profile in user.profile %}
            {{profile.nickname}}
      </th>
      <th scope="col">
          {% set ns.count = 0 %}
          {%for profile in user.profile%}
            {%for report in profile.reports%}
                {% set ns.count=ns.count+1 %}
            {%endfor%}
          {{ns.count}}
          {% endfor %}
      </th>
      <th scope="col"><button class="btn btn-primary" onclick="window.location.href=`{{ url_for('singlereport', id=profile.id) }}`">Info report</button></th>
    {% endfor %}
  </tr>
  {% endfor%}
  </tbody>
</table>

{% endblock %}



