{% extends 'TAbase.html' %}


{% block head %}
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}



{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
 {% for category, message in messages %}
  <div id="alerto" class="alert alert-success" role="alert">
      {{message}}
  </div>
 {% endfor %}
{% endwith %}

<h1 style="margin-bottom: 2%; margin-top:2%; text-align: center">Aggiungi una carta</h1>

<hr>

<form action="{{url_for('addcards')}}" method="post" style="margin:auto; text-align: center" enctype="multipart/form-data">
  <div style="width:30%; margin:auto; text-align: center">

      <div class="form-group" style="margin-top: 7%">
        <label>Titolo della carta</label>
        <input name="nome" class="form-control" aria-describedby="emailHelp" placeholder="Nome carta">
      </div>

      <div class="form-group" style="margin-top: 7%">
        <label>Immagine della carta</label>
        <input enctype="multipart/form-data" style="border: 2px solid grey; border-radius:10px ; padding: 2%; margin-left:1%" type="file" id="file" name="file" >
      </div>

      <button type="submit" class="btn btn-success" style="margin-top: 5%">Aggiungi</button>
  </div>
</form>
{% endblock %}



</html>