{% extends 'Tbase.html' %}


{% block head %}
<link href="static/base.css" rel="stylesheet">
{% endblock %}



{% block body %}
<div class="all" style="display: flex; flex-direction: row; object-fit: contain">

  <div class="card" id="profilecard" >

    <img src="../static/manicon.png" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Nome Cognome

          <form style="text-align: center">
              <input type="hidden">
              <button type="submit" class="btn btn-primary" > Segui </button>
          </form>

        </p>
      </div>
  </div>

  <div class="list-group" style="width: 70%; margin-left: 2%; margin-top: 2%; padding: 0.5%" >
    <a href="#" class="list-group-item list-group-item-action" aria-current="true" style="margin-bottom: 2%;" >

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Bio</h5>
        <small>3 giorni fa</small>
      </div>

      <p class="mb-1">Contenuto della bio contenuto della bio
      Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bioContenuto della bio contenuto della bio
        Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bio
        Contenuto della bio contenuto della bioaaaaaa
      </p>
    </a>

      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
      </a>

      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
      </a>

    </div>
  </div>

  <h1 style=" font-size: 300%; margin-top: 5%; margin-bottom: 3%; text-align: center">Collezione di Samuelessino</h1>

  <form style=" width: 20%; margin: auto; margin-bottom: 1%">

    <div style="display: flex; flex-direction: row;">
      <input type="ricerca" class="form-control" id="ricerca" placeholder="Cerca una carta...">
      <button type="submit" class="btn btn-primary" style="width: 20%; margin-left: 0.5%"> Invia </button>
    </div>

  </form>

  <div class="swipe" style=" max-width: 70%; min-width: 43%;width:70%; margin: auto;" >
    <img class="carta" src="https://i.colnect.net/f/1160/946/Groudon.jpg">
    <img class="carta" src="https://i.colnect.net/f/1160/946/Groudon.jpg">
    <img class="carta" src="https://i.colnect.net/f/1160/946/Groudon.jpg">
  </div>

  <div style="margin-top: 3%; margin-bottom: 3% ">
    <button type="button" class="btn btn-success" style="margin-left: 20%; font-size: 150%; border-radius: 10px; padding: 0.5%">Proponi uno scambio</button>

    <form style=" width: 40%; display: inline-block; margin-left: 4%">
      <div style="display: flex; flex-direction: row;">
        <input type="commento" class="form-control" id="commento" placeholder="Scrivi un commento...">
        <button type="submit" class="btn btn-primary" style="width: 20%; margin-left: 0.5%"> Invia </button>
      </div>
    </form>

  </div>

  <div class="commentsection" style="margin: auto; max-width: 50%; width: 50%; margin-bottom: 5%;">


</div>




{% endblock %}


