
{% extends 'Tbase.html' %}


{% block head %}
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}



{% block body %}

{%for profile1 in col1%}
{% for profile2 in col2%}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert alert-danger" role="alert">
    {%- for msg in errors %}
        {{msg}}
    {% endfor %}
</div>
{% endif %}
{% endwith %}


<div style="text-align: center; margin-top: 3%;">
  <h1 style="font-size: 300%; margin-bottom: 3%; margin-top: 3%; margin: auto">Scambio</h1>
</div>
 
<div style="display: flex; flex-direction: row;">

  <div style="width: 45%; padding: 2%; text-align: center; margin: auto">
    <h1 style="text-align: center; font-size: 150%">{{profile1.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block;">
    {% for carta in pool1 %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=carta.image) }}"> </div>
    {% endfor %}
  </div>
    <form action="{{ url_for('pooladd', cid=profile1.id, s=scambio, id2=profile2.id) }}" style="text-align: center; margin-top: 3%; margin-bottom: 3%; font-size: 120%" method="post">
      <button type="submit" class="btn btn-primary">Aggiungi carte</button>
    </form>
     <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{profile1.via}}, {{profile1.city}}, {{profile1.cap}}</li>
    </ul>
  </div>


  <div style="width: 10%; text-align: center; display:flex; flex-direction:column; margin-top: 12%">
    <h5>SCAMBIA CON</h5>
  </div>



  <div style="width: 45%; padding: 2%; text-align: center">
    <h1 style="text-align: center; font-size: 150%">{{profile2.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block;">
    {% for carta in pool2 %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=carta.image) }}"> </div>
    {% endfor %}
  </div>
    <form action="{{ url_for('pooladd', cid=profile2.id, s=scambio, id2=profile2.id) }}" style="text-align: center; margin-top: 3%; margin-bottom: 3%; font-size: 120%" method="post">
      <button type="submit" class="btn btn-primary">Aggiungi carte</button>
    </form>
    <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{profile2.via}}, {{profile2.city}}, {{profile2.cap}}</li>
    </ul>
  </div>


</div>


<div style=" margin: auto; display: block; flex-direction: row; width:65%; margin-bottom: 2%;">
  <label>Data ritiro: </label>
  <input style="border: 2px solid grey; border-radius: 5px" name="data1" type="date" form="myform"  min="{{date}}" max="{{date2}}">
</div>


<div style="display: flex; flex-direction: row; width:100%">
  <form id="myform" action="{{ url_for('addchange') }}" method="post" style="display: flex; flex-direction: row; width:50%">
      <textarea class="form-control" name="messaggio" placeholder="Lascia un messaggio qui" id="floatingTextarea2" style="width: 80%; margin-left:5%; margin-top: 3% "></textarea>
  </form>
  <div style="width:50%; text-align: center; align-self: center;">
        <button form="myform" class="btn btn-success" style="width: 30%; margin-right: 10%; float: right; white-space: nowrap; height:50px; ">Invia scambio</button>
  </div>
</div>

{%endfor%}
{%endfor%}
{% endblock %}