{% extends 'Tbase.html' %}


{% block head %}
<link href="static/base.css" rel="stylesheet">
{% endblock %}



{% block body %}
<h1 style="text-align: center; margin-top: 3%; font-size: 300%">Modifica profilo</h1>
<form style=" text-align: center;" action="{{ url_for('edituser') }}"  method="post" id="usrform">
    <div style="display: flex; flex-direction: row">
          <div style="width:50%; padding: 8%; padding-top: 2%">

              <div class="form-group" style="margin-top: 7%">
                <label>Email</label>
                <input name='email' type="email" class="form-control" value="{{current_user.email}}" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">I dati personali non saranno mai condivisi.</small>
              </div>

              <div class="form-group" style="margin-top: 7%">
                <label>Password</label>
                <input type="password" name='password' class="form-control" placeholder="Password">
              </div>

              <div class="form-group" style="margin-top: 7%">
                <label>Conferma Password</label>
                <input type="confirmPassword" name='confirmpassword' class="form-control" placeholder="Conferma Password">
              </div>
          </div>


          <div style="width:50%; padding: 8%; padding-top: 2%">
              <div class="form-group" style="margin-top: 7%">
                <label>Indirizzo</label>
                <input  name='indirizzo' class="form-control" value="{{profile.via}}" placeholder="Inserisci la tua via di residenza">
              </div>
            <div class="form-group" style="margin-top: 7%">
                <label>Città / Paese</label>
                <input type="city" name='city' value="{{profile.city}}" class="form-control" placeholder="...">
            </div>
            <div class="form-group" style="margin-top: 7%">
                <label>CAP</label>
                <input style="width:50%; margin: auto; text-align: center" type="cap" name='cap' value="{{profile.cap}}" class="form-control" placeholder="Codice postale">
              </div>


        </div>
  </div>


    <h1 style="text-align: center; margin-bottom: 3%; margin-top: -3%; font-size: 200%">Seleziona un avatar</h1>

    <div class="form-group" style="margin-top: 2%; margin-bottom:3%; width:30%; margin-left: auto; margin-right: auto;">
        <label>Nome</label>
        <input name='name' type="name" class="form-control" value={{profile.nickname}}  aria-describedby="emailHelp" placeholder="Inserisci un nome">
    </div>

    <div class="form-group" style="margin-top: 2%; margin-bottom:7%; width:50%; margin-left: auto; margin-right: auto;">
                <label>Biografia</label>
                <textarea name="bio" class="form-control" form="usrform" placeholder="{{profile.bio}}" style="height:20%; max-height: 20%;">{{profile.bio}}</textarea>
    </div>

     <div style="margin: auto; margin-top: -3%; display: block">
          <label class="avatars">
            <input type="radio" name="avatar_id" value="1"/>
            <img src="/static/avatar%20(1).png" style="width:100px; height:100px;" alt=""/>
          </label>

          <label class="avatars">
            <input type="radio" name="avatar_id" value="2"/>
            <img src="/static/avatar%20(2).png" style="width:100px; height:100px;" alt=""/>
          </label>

          <label class="avatars">
            <input type="radio" name="avatar_id" value="3"/>
            <img src="/static/avatar%20(3).png" style="width:100px; height:100px;" alt=""/>
          </label>

          <label class="avatars">
            <input type="radio" name="avatar_id" value="4"/>
            <img src="/static/avatar%20(4).png" style="width:100px; height:100px;" alt="" />
          </label>

          <label class="avatars">
            <input type="radio" name="avatar_id" value="5"/>
            <img src="/static/avatar%20(5).png" style="width:100px; height:100px;" alt="" />
          </label>

          <label class="avatars">
            <input type="radio" name="avatar_id" value="6"/>
            <img src="/static/avatar%20(6).png" style="width:100px; height:100px;" alt="" />
          </label>
    </div>


    <button type="submit" class="btn btn-primary" style="text-align: center; font-size: 150%; margin-top: 3%; margin-bottom: 2%">Modifica profilo</button>


</form>

<hr>

<div style="text-align: center; margin-top: 10%; margin-bottom: 3%">
<button class="btn btn-danger" style="text-align: center; font-size: 150%;">  Elimina profilo  </button>
</div>

{% endblock %}


