{% extends 'Tbase.html' %}


{% block head %}
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{% endblock %}



{% block body %}
<script>
    function toggle(){
        console.log("toggole")
        document.getElementById("divconfirm").style.display = "flex";
    }
</script>

{% with messages=get_flashed_messages(with_categories=true) %}
 {% for category, message in messages %}
  <div id="alerto" class="alert alert-success" role="alert">
      {{message}}
  </div>
 {% endfor %}
{% endwith %}


<div style="text-align: center; margin-top: 3%;">
  <h1 style="font-size: 300%; margin-bottom: 3%; margin-top: 3%; margin: auto">Scambi ricevuti</h1>
</div>





{% for scambio in scambi %}
{% if scambio.stato == 'active' %}
<hr>
<div style="padding: 5%">


<div class="TitleContainer" style="margin-top: -3%;">
            <img class="firsticon" src="/static/avatar ({{scambio.sender.avatar_id}}).png"> </img> <span style="margin-left: 2%; margin-top: 1%">Scambio con {{scambio.sender.nickname}}</span>
</div>


<div style="display: flex; flex-direction: row; margin-top: 3%">

  <div style="width: 45%; padding: 2%; text-align: center; margin: auto">
    <h1 style="text-align: center; font-size: 150%">{{scambio.selezionato.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block">
    {% for selezione in scambio.selezioni%}
        {% if scambio.selezionato.id == selezione.who %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=selezione.card.image) }}"> </div>
        {% endif %}
    {% endfor %}
  </div>
     <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{scambio.selezionato.via}}, {{scambio.selezionato.city}}, {{scambio.selezionato.cap}}</li>
    </ul>
  </div>


  <div style="width: 10%; text-align: center; display:flex; flex-direction:column; margin-top: 12%">
    <h5>SCAMBIA CON</h5>
  </div>



  <div style="width: 45%; padding: 2%; text-align: center">
    <h1 style="text-align: center; font-size: 150%">{{scambio.sender.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block">
    {% for selezione in scambio.selezioni%}
          {% if scambio.sender.id == selezione.who %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=selezione.card.image) }}"> </div>
         {% endif %}
    {% endfor %}
  </div>
    <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{scambio.sender.via}}, {{scambio.sender.city}}, {{scambio.sender.cap}}</li>
    </ul>
  </div>


</div>

<div style="display: flex; width:100%">
    <span class="material-symbols-outlined" style="align-self: center; font-size: 300%">mail</span>
  <div style="display: inline-flex; margin-left: 2%; margin-top: 2%; width:50%">
    <textarea rows="4" style="width:78%; resize: none; padding: 1%; border: 3px solid lightgray; border-radius: 10px; background-color: whitesmoke" readonly>{{scambio.messaggio}} </textarea>
  </div>

    <form id="accept" action="{{url_for('changestatus')}}" method="post">
        <input type="hidden" name="idscambio" value="{{scambio.id}}">
        <input type="hidden" name="status" value="accepted">
    </form>

    <form id="delete" action="{{url_for('changestatus')}}" method="post">
        <input type="hidden" name="idscambio" value="{{scambio.id}}">
        <input type="hidden" name="status" value="refused">
    </form>


  <div style="display:block; float: right; margin-top: 3%; width:50%; margin-right:5%">
    <button class="btn btn-success" style="float: right; white-space:nowrap; text-align: center; margin-right: 5%" onclick="toggle()">Accetta scambio</button>
    <button type="submit" form="delete" class="btn btn-danger"  style="float: right; white-space:nowrap; text-align: center;  margin-right: 5%">Rifiuta scambio</button>
  </div>

  <div id="divconfirm" style="display:none; align-self: auto; padding: 1%; border-radius: 10px; border:2px solid seagreen; float: right; margin-top: 3%; width:60%;">
    <input style="border: 2px solid grey; border-radius: 5px; margin-left: 10%"  name="data2" type="date" form="accept"  min="{{date}}" max="{{date2}}" style="width:80%">
    <button form="accept" type="submit" class="btn btn-success" style="width:40%; float: right; white-space:nowrap; margin-left: 4%; text-align: center; margin-right: 20%">Conferma Scambio</button>
  </div>


</div>

</div>
<hr>

{% elif scambio.stato == 'accepted' %}

<hr>

<div style="padding: 10%; background-color: #9adba2; opacity: 80%; border-radius: 10px; margin:2%">

<form style=" border: 2px solid darkgreen; border-radius: 10px; margin: auto; margin-bottom: 3%; align-self: center; display: flex; flex-direction: column; gap: 1%; width:40%; margin-bottom: 3%">
        <h1 style="color: darkgreen; margin:auto">Scambio Accettato</h1>
        <h5 style="color: darkgreen; text-align: center">Ritiro previsto: {{scambio.data2}}</h5>
</form>


<div class="TitleContainer" style="margin-top: -3%;">
            <img class="firsticon" src="/static/avatar ({{scambio.sender.avatar_id}}).png"> </img> <span style="margin-left: 2%; margin-top: 1%">Scambio con {{scambio.sender.nickname}}</span>
</div>



<div style="display: flex; flex-direction: row; margin-top: 3%">

  <div style="width: 45%; padding: 2%; text-align: center; margin: auto">
    <h1 style="text-align: center; font-size: 150%">{{scambio.selezionato.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block">
    {% for selezione in scambio.selezioni%}
        {% if scambio.selezionato.id == selezione.who %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=selezione.card.image) }}"> </div>
        {% endif %}
    {% endfor %}
  </div>
     <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{scambio.selezionato.via}}, {{scambio.selezionato.city}}, {{scambio.selezionato.cap}}</li>
    </ul>
  </div>


  <div style="width: 10%; text-align: center; display:flex; flex-direction:column; margin-top: 12%">
    <h5>SCAMBIA CON</h5>
  </div>



  <div style="width: 45%; padding: 2%; text-align: center">
    <h1 style="text-align: center; font-size: 150%">{{scambio.sender.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block">
    {% for selezione in scambio.selezioni%}
          {% if scambio.sender.id == selezione.who %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=selezione.card.image) }}"> </div>
         {% endif %}
    {% endfor %}
  </div>
    <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{scambio.sender.via}}, {{scambio.sender.city}}, {{scambio.sender.cap}}</li>
    </ul>
  </div>


</div>

<div style="display: flex; width:100%">
    <span class="material-symbols-outlined" style="align-self: center; font-size: 300%">mail</span>
  <div style="display: inline-flex; margin-left: 2%; margin-top: 2%; width:35%">
      <textarea readonly="true" rows="4" style="width: 100%; resize: none; padding: 1%; border: 3px solid lightgray; border-radius: 10px; background-color: whitesmoke">{{scambio.messaggio}} </textarea>
  </div>
</div>


</div>
<hr>


{% endif %}
{% endfor %}
{% endblock %}


