{% extends 'Tbase.html' %}


{% block head %}
<link href="static/base.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}



{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js')}}">\x3C/script>')</script>

{% with messages=get_flashed_messages(with_categories=true) %}
 {% for category, message in messages %}
  <div id="alerto" class="alert alert-success" role="alert">
      {{message}}
  </div>
 {% endfor %}
{% endwith %}


<div style="text-align: center; display: flex; flex-direction: row; margin: auto;">
    <form action="{{url_for('home')}}"  method="post" class="form-inline" style="background: lightgray; text-align:center; margin:auto; width:25%; display: flex; flex-direction: row; margin-top: 3%">
        <input class="form-control mr-sm-2" type="search" {%if filtervalue%} value="{{filtervalue}}" {%endif%} name="filtro" placeholder="Ricerca per utenti o carte..." aria-label="Search">
        <input id="inputH" type="hidden" name="carte" value="0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" title="Ricerca per utente"><span class="material-icons md-24">account_circle</span></button>
        <button class="btn btn-outline-primary my-2 my-sm-0" type= "submit" title="Ricerca per carta" onclick="change()"><span class="material-icons md-24">view_timeline</span></button>
        {%if filtervalue%} <button class="btn btn-outline-danger my-2 my-sm-0" form="deleteform" type= "submit" title="Annulla ricerca"><span class="material-icons md-24">close</span></button> {%endif%}
    </form>
    <form action="{{url_for('home')}}" method="post" style="display: none" id="deleteform">
        <input type="hidden" name="delete" value="1">
    </form>
</div>

<hr>


<div id="all" style="margin-left: 2% ">
{% for user in users %}
{% if user.id!=Ac.id %}
<div id="post" style="margin-bottom: 5%">


<div class="TitleContainer" style="margin-bottom: 4%">
            <img class="firsticon" src="/static/avatar ({{user.avatar_id}}).png">  <span style="margin-left: 2%; margin-top: 1%">Collezione di {{user.nickname}}</span>
</div>


<div class="swipe" style="display: inline-block; margin-bottom: 2%; height: 55%; margin-top: -2%">
            {% for carta in user.carte %}
                      <div class="divcarta" id="cardicon"><img class="carta" src="{{ url_for('static', filename=carta.image) }}"> </div>
            {% endfor %}
</div>


<div style="display: inline-block; width:30%; margin-left: 5%">
<div class="commentsection2" id="cms" style="display: inline-block; height:45%; width:100%; margin-top: 2%; padding:2%">
        {%for commento in user.commenti%}
            <div class="card" style="border: 2px solid grey; border-radius: 10px; margin-bottom: 5%;">
                  <div class="card-header" style="margin-bottom: -4%">
                    <h5><img src="static/avatar ({{commento.writer.avatar_id}}).png" style="width:8%; height: 8%">   <span style="margin-left: 1%">
                            {{commento.writer.nickname}}
                    </span></h5>
                  </div>
                  <div class="card-body" style="white-space: pre-line; margin-bottom: -4%; height:5%">
                    <p class="card-text">{{ commento.content }}</p>
                  </div>
              </div>
        {%endfor%}
</div>
    <div style="display: inline-block; text-align: center; width: 100%; margin-bottom: -1%">
        <form id="commentoform"  method="post" style=" width:100%;  margin-left: 5%; padding: 2%;">
        <div style="display: inline-flex; width:100%; margin: auto">
           <input type="commento" name="commentcontent" class="form-control" id="commento" placeholder="Scrivi un commento...">
          <input type="hidden" name="userby" value="{{Ac.id}}">
          <input type="hidden" name="userto" value="{{user.id}}">
          <button type="submit" class="btn btn-primary float-on-hover" style="width: 20%; margin-left: 0.5%"> <span class="material-icons md-24">send</span> </button>
        </div>
        </form>
    </div>
</div>


<div style="margin-left:2%">
    <button class="btn btn-success float-on-hover" id="anbutton" onclick="window.location.href=`{{ url_for('exchange', iduser2=user.id) }}`"> Proponi scambio </button>
    <button class="btn btn-primary float-on-hover" id="anbutton" style="margin-left:2%" onclick="window.location.href=`{{ url_for('profile', id=user.id) }}`"> Vai al profilo </button>
</div>


    <script>
    function change(){
        document.getElementById('inputH').value = "1";
        console.log(document.getElementById('inputH').value)
    }

    const form = document.getElementById("commentoform")


    if (form){
            form.addEventListener('submit', async function(event) {
                event.preventDefault();    // prevent page from refreshing
                const formData = new FormData(form);
                await fetch('http://localhost:5000/addcomment', {   // assuming the backend is hosted on the same server
                    method: 'POST',
                    body: formData,
                }).then(async function(response) {
                    await $("#cms").load(" #cms > *");
                    cms= document.getElementById('cms')
                    cms.scrollTop = cms.scrollHeight;
                    document.getElementById('commento').value= '';
                });
            });
    }



</script>

<hr>

    {% endif %}
    {%endfor%}
</div>

{% endblock %}

</div>

