{% extends 'Tbase.html' %}


{% block head %}

{% endblock %}

{% block body %}


{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert alert-danger" role="alert">
    {%- for msg in errors %}
        {{msg}}
    {% endfor %}
</div>
{% endif %}
{% endwith %}


<h1 style="text-align: center; margin-top: 3%; font-size: 300%">Login</h1>
<form style="width:25%; text-align: center; margin: auto" action="{{ url_for('loginuser') }}"  method="post">
  <div class="form-group" style="margin-top: 7%">
    <label for="exampleInputEmail1">Email</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">L'email non verrà mai condivisa.</small>
  </div>
  <div class="form-group" style="margin-top: 7%">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check" style="margin-top: 1%; text-align: left">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Ricordami</label>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 3%; margin-bottom: 4%; font-size: 150%">Accedi</button>
</form>
{% endblock %}

