{% extends 'Tbase.html' %}


{% block head %}
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}



{% block body %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js')}}">\x3C/script>')</script>



<div class="all" style="display: flex; flex-direction: row; object-fit: contain">

  <div class="card" id="profilecard">
    <img src="static/avatar ({{profile.avatar_id}}).png" class="card-img-top">
      <div class="card-body" style="text-align: center">
        <p class="card-text"> {{profile.nickname}}
        </p>
      </div>
  </div>

  <div class="list-group" id="listgroup" >
    <a href="#" class="list-group-item list-group-item-action" aria-current="true" style="margin-bottom: 2%;" >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Bio</h5>
      </div>
      <p class="mb-1">{{profile.bio}}
      </p>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Luogo di residenza</h5>
      </div>
      <p class="mb-1">{{profile.city}}</p>
    </a>
  </div>
</div>


<div style="text-align:center; margin-right: 11.5%; float: right">
  <button onclick="window.location.href=`{{ url_for('editProfile') }}`" class="btn btn-primary"> Modifica profilo <span class="material-icons md-24">edit</span></button>
</div>

<hr style="margin-top: 4%">

<h1 style=" font-size: 300%; margin-top: 5%; margin-bottom: 3%; text-align: center">La mia collezione</h1>


<form action="{{url_for('myprofile')}}" method="post" style=" width: 20%; margin: auto; margin-bottom: 1%">
  <div style="display: flex; flex-direction: row;">
    <input  name="filtro" class="form-control" id="ricerca" placeholder="Cerca una carta...">
    <button type="submit" class="btn btn-primary" style="width: 20%; margin-left: 0.5%"> <span class="material-icons md-24">search</span> </button>
  </div>
</form>


<div class="swipe" id="cardswipe" style=" max-width: 70%; min-width: 43%;width:70%; margin: auto; height: 55%" >
{% for carta in carte %}
    <div class="divcarta" style="display: flex"><img class="carta" src="{{ url_for('static', filename=carta.image) }}">
    <form action="{{ url_for('deletecard') }}" method="POST"><div>
      <input type="hidden" name="userid" value="{{profile.id}}">
      <input type="hidden" name="cardid" value="{{carta.id}}">
      <input type="hidden" name="where" value="1">
      <button type="submit" class="btn btn-primary" id="rembuton" style="margin-top: 2%;"> <span class="material-icons md-24">delete</span> </button></div>
    </form>
    </div>
{% endfor %}
</div>


<div style="margin-top: 3%; margin-bottom: 3% ">
  <button type="button" class="btn btn-success float-on-hover" onclick="window.location.href=`{{ url_for('cardsadd') }}`" style="margin-left: 20%; font-size: 150%; border-radius: 10px; padding: 0.5%">Aggiungi carte <span class="material-icons md-24">add</span></button>

  <form id="commentform" method="post" action="url_for('addcomment')" style=" width: 40%; display: inline-block; margin-left: 4%">
    <div style="display: flex; flex-direction: row;">
      <input type="commento" name="commentcontent" class="form-control" id="commento" placeholder="Scrivi un commento sulla tua collezione...">
      <input type="hidden" name="userby" value="{{profile.id}}">
      <input type="hidden" name="userto" value="{{profile.id}}">
      <button type="submit" class="btn btn-primary float-on-hover" style="width: 20%; margin-left: 0.5%"> <span class="material-icons md-24">send</span> </button>
    </div>
  </form>
</div>


<div class="commentsection" id="cms" style="margin: auto; max-width: 50%; width: 55%; margin-bottom: 5%; padding: 2%">
    {%for commento in profile.commenti%}
            <div class="card" style="border: 2px solid grey; border-radius: 10px; margin-bottom: 3%">
                  <div class="card-header" style="margin-bottom: -4%; display: inline-flex;">
                    <img src="{{ url_for('static', filename='avatar ('+commento.writer.avatar_id+').png') }}" style="object-fit: contain; width:50px; margin-right: 2%">

                    <h5 style="margin-left: 1%; margin-top: 1%">
                            {{commento.writer.nickname}}
                    </h5>
                      <form action="{{url_for('deletecomm')}}" method="post" style="float: right; margin-left: auto;">
                        <input type="hidden" name="id" value="{{commento.id}}">
                        <button class="btn btn-danger" type="submit" style=" border-radius: 50px" > - </button>
                      </form>

                  </div>
                  <div class="card-body" style="white-space: pre-line; margin-bottom: -4%">
                    <p class="card-text">{{ commento.content }}</p>
                  </div>
              </div>
    {%endfor%}
</div>


<hr>


<h1 class="midtitle">Carte ricercate</h1>

<div class="swipe" style=" max-width: 70%; min-width: 43%; width:60%; margin: auto;  height: 55%" >
  {% for carta in profile.ricercate %}
  <div class="divcarta" style="display: flex"><img class="carta" src="{{ url_for('static', filename=carta.image) }}">
    <form action="{{ url_for('deletecard') }}" method="POST"><div>
      <input type="hidden" name="userid" value="{{profile.id}}">
      <input type="hidden" name="cardid" value="{{carta.id}}">
      <input type="hidden" name="where" value="0">
      <button type="submit" class="btn btn-primary" id="rembuton" style="margin-top: 2%;"> <span class="material-icons md-24">delete</span> </button></div>
    </form>
    </div>
  {% endfor %}
</div>

<div style="text-align:center; margin-top: 3%; margin-bottom: 3% ">
  <button type="button" class="btn btn-success float-on-hover" onclick="window.location.href=`{{ url_for('searchedadd') }}`" style=" font-size: 150%; border-radius: 10px; padding: 0.5%">Aggiungi carte <span class="material-icons md-24">add</span></button>
</div>


<script>
  const form = document.getElementById("commentform")

    if (form){
            form.addEventListener('submit', async function(event) {
                event.preventDefault();    // prevent page from refreshing
                const formData = new FormData(form);
                await fetch('http://localhost:5000/addcomment', {   // assuming the backend is hosted on the same server
                    method: 'POST',
                    body: formData,
                }).then(async function(response) {
                    await $("#cms").load(" #cms > *");
                    cms= document.getElementById('cms')
                    cms.scrollTop = cms.scrollHeight;
                    document.getElementById('commento').value= '';
                });
            });
    }
</script>
{% endblock %}


