{% extends 'Tbase.html' %}


{% block head %}
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}



{% block body %}

<div class="poolwindow">
    {% for collezionista in profile %}
    <h1 style = "text-align: center; margin-top: 2%"> Carte di {{collezionista.nickname}}</h1>
    <form class="form-inline" style="width:30%; margin: auto; display: flex; flex-direction: row; margin-top: 2%">
    <input class="form-control mr-sm-2" type="search" placeholder="Ricerca carte..." aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
<div class="swipe" style="min-width: 90%; min-height: 40%; height:60%; margin-top: 3%; margin-left: auto; margin-right: auto; padding:1%" >

<form id="myform" action="{{ url_for('addselection', idsc=idscambio, id2=id2, idwho=collezionista.id) }}" method="POST" style="display: flex">
        {% for carta in collezionista.carte %}
            <div class="divcarta" style="display: flex; margin-top: 1%"><img class="carta" src="{{ url_for('static', filename=carta.image) }}">
                <div>
                        <input type="checkbox" name="card[]" value="{{carta.id}}" style=" width:30px; height:30px; border-radius:5px;">
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</form>
</div>


<div style="text-align: center; margin-top: 2%">
    <button form="myform" type="submit" class="btn btn-primary" style="text-align: center"> Aggiungi </button>
</div>


</div>


{% endblock %}

