{% extends 'Tbase.html' %}


{% block head %}
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}



{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
 {% for category, message in messages %}
  <div id="alerto" class="alert alert-success" role="alert">
      {{message}}
  </div>
 {% endfor %}
{% endwith %}

<div class="all" style="display: flex; flex-direction: row; object-fit: contain">

  <div class="card" id="profilecard">
    <img src="{{ url_for('static', filename=img) }}" class="card-img-top">
      <div class="card-body" style="text-align: center">
        <p class="card-text"> {{profile.nickname}}
        </p>
      </div>
  </div>

  <div class="list-group" id="listgroup" >
    <a href="#" class="list-group-item list-group-item-action" aria-current="true" style="margin-bottom: 2%;" >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Bio</h5>
      </div>
      <p class="mb-1">{{profile.bio}}
      </p>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Luogo di residenza</h5>
      </div>
      <p class="mb-1">{{profile.city}}</p>
    </a>
  </div>
</div>

<div style="text-align:center; margin-right: 11.5%; float: right">
  <button onclick="window.location.href=`{{ url_for('reportuser', ids = profile.id) }}`" class="btn btn-danger"> Segnala utente <span class="material-icons md-24">edit</span></button>
</div>



<hr style="margin-top: 4%">

<h1 style=" font-size: 300%; margin-top: 5%; margin-bottom: 3%; text-align: center">Collezione di {{profile.nickname}}</h1>


<form action="{{ url_for('profile', id = profile.id) }}" method="post" style=" width: 20%; margin: auto; margin-bottom: 1%">
  <div style="display: flex; flex-direction: row;">
    <input type="text" name="filtro" class="form-control" id="ricerca" placeholder="Cerca una carta...">
    <button type="submit" class="btn btn-primary" style="width: 20%; margin-left: 0.5%"> <span class="material-icons md-24">search</span> </button>
  </div>
</form>


<div class="swipe" style=" max-width: 70%; min-width: 43%;width:70%; margin: auto; height: 55%" >
{% for carta in profile.carte %}
    <div class="divcarta" style="display: flex">
      <img class="carta" src="{{url_for('static', filename=carta.image)}}">
    </div>
{% endfor %}
</div>


<div class="commentsection" style="margin: auto; max-width: 50%; width: 55%; margin-top: 3%; padding: 2%">
    {%for commento in profile.commenti%}
            <div class="card" style="border: 2px solid grey; border-radius: 10px; margin-bottom: 3%">
                  <div class="card-header" style="margin-bottom: -4%; display: inline-flex; object-fit: contain">

                    <img src="{{ url_for('static', filename='avatar ('+commento.writer.avatar_id+').png') }}" style="object-fit: contain; width:50px; margin-right: 2%">

                    <h5 style="margin-left: 1%; margin-top: 1%">
                            {{commento.writer.nickname}}
                    </h5>

                    {% if commento.writer.id == profilo.id %}
                      <form action="{{url_for('deletecomm')}}" method="post" style="float: right; margin-left: auto;">
                        <input type="hidden" name="id" value="{{commento.id}}">
                        <button class="btn btn-danger" type="submit" style=" border-radius: 50px" > - </button>
                      </form>
                    {% endif %}

                  </div>
                  <div class="card-body" style="white-space: pre-line; margin-bottom: -4%">
                    <p class="card-text">{{ commento.content }}</p>
                  </div>
              </div>
    {%endfor%}
</div>


<div style="text-align: center; margin: auto; margin-top: 2%">
  <form action="{{ url_for('addcomment') }}"  method="post" style=" width: 40%; display: inline-block;">
    <div style="display: flex; flex-direction: row;">
      <input type="commento" name="commentcontent" class="form-control" id="commento" placeholder="Scrivi un commento...">
      <input type="hidden" name="userby" value="{{profilo.id}}">
      <input type="hidden" name="userto" value="{{profile.id}}">
      <button type="submit" class="btn btn-primary" style="width: 20%; margin-left: 0.5%"> <span class="material-icons md-24">send</span> </button>
    </div>
  </form>
</div>


<hr>

<h1 class="midtitle">Carte ricercate</h1>

<div class="swipe" style=" max-width: 70%; min-width: 43%; width:60%; margin: auto;  height: 55%; margin-bottom: 4%" >
  {% for carta in profile.ricercate %}
  <div class="divcarta" style="display: flex;"> <img class="carta" src="{{url_for('static', filename=carta.image)}}">
    <form action="{{ url_for('deletecard') }}" method="POST"><div>
      <input type="hidden" name="userid" value="{{profile.id}}">
      <input type="hidden" name="cardid" value="{{carta.id}}">
      <input type="hidden" name="where" value="ricercate">
      <button type="submit" class="btn btn-primary" id="rembuton" style="margin-top: 2%;"> <span class="material-icons md-24">delete</span> </button></div>
    </form>
    </div>
  {% endfor %}
</div>

{% endblock %}


<script>
  function ToS(s){
    s = String(s)
    return s;
  }
</script>