{% extends 'Tbase.html' %}


{% block head %}

{% endblock %}



{% block body %}
<h1 style="margin-bottom: 2%; margin-top:2%; text-align: center">Segnala un utente</h1>

<hr>

<form method="POST" action="{{url_for('reportadd')}}" style=" text-align: center; display: flex; flex-direction: row; margin-top: auto">
  <div style="width:50%; padding: 8%; padding-top: 2%; margin: auto">
      <div class="form-group" style="margin-top: 7%; text-align: center">
          <div class="form-group">
                <label for="exampleFormControlTextarea1">Scrivi il motivo della segnalazione</label>
                <textarea class="form-control" name="motivetxt" id="exampleFormControlTextarea1" rows="3" style="max-height: 20%;"></textarea>
          </div>
      </div>
      <input type="hidden" name="idtoreport" value="{{id2}}">
      <button type="submit" class="btn btn-danger" style="margin-top: 10%; margin-bottom: 4%; font-size: 150%">Segnala</button>
  </div>
</form>
{% endblock %}



</html>