{% extends 'Tbase.html' %}


{% block head %}
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}



{% block body %}
<h1 style="text-align: center; margin-top: 3%; margin-bottom: 3%; font-size: 300%">Aggiungi carte</h1>
<hr>
<form style=" width: 20%; margin: auto; margin-top: 3%; margin-bottom: 5%">
  <div style="display: flex; flex-direction: row;">
    <input type="ricerca" class="form-control" id="ricerca" placeholder="Cerca una carta...">
    <button type="submit" class="btn btn-primary" style="width: 20%; margin-left: 0.5%"> Invia </button>
  </div>
</form>

<div style="display: block; margin-left: 10%">
<div style="display: flex; flex-flow:row wrap; margin-bottom: 3%;">

{% for carta in carte %}

    <div class="card" style="border-radius: 10px; width:17%; margin-left: 2.5%; object-fit:contain; margin-right:2.5%; margin-top: 5%; justify-content:center" >
        <div style="object-fit: contain; display: block; margin:auto; margin-top: 1%; padding:1%">
            <img class="card-img-top" src="{{ url_for('static', filename=carta.image) }}" alt="Card image cap" style="border-radius: 10px; ">
        </div>
    <div class="card-body">
      <h5 class="card-title" style="text-align: center; font-size: 200%">{{carta.name}}</h5>
      <p class="card-text" style="text-align: center; margin-top: 20%">
          <form style="text-align: center" action="{{ url_for('addcard') }}" method="post">
              <input type="hidden" name="type" value="0">
              <input type="hidden" name="cardid" value="{{carta.id}}">
              <input type="hidden" name="userid" value="{{profile.id}}">
              <button class="btn btn-success" type="submit"><span class="material-icons md-24">add</span></button></p>
          </form>

    </div>
  </div>

{% endfor %}

</div>
</div>
{% endblock %}


