{% extends 'Tbase.html' %}


{% block head %}
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{% endblock %}



{% block body %}
<div style="text-align: center; margin-top: 3%;">
  <h1 style="font-size: 300%; margin-bottom: 3%; margin-top: 3%; margin: auto">Scambi inviati</h1>
</div>


{% for scambio in scambi %}
{% if scambio.stato == 'active' %}

<hr>

<div style="padding: 5%">

<div class="TitleContainer" style="margin-top: -5%;">
            <img class="firsticon" src="/static/avatar ({{scambio.sender.avatar_id}}).png"> </img> <span style="margin-left: 2%; margin-top: 1%">Scambio con {{scambio.selezionato.nickname}}</span>
</div>



<div style="display: flex; flex-direction: row; margin-top: 3%">

  <div style="width: 45%; padding: 2%; text-align: center; margin: auto">
    <h1 style="text-align: center; font-size: 150%">{{scambio.selezionato.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block">
    {% for selezione in scambio.selezioni%}
        {% if scambio.selezionato.id == selezione.who %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=selezione.card.image) }}"> </div>
        {% endif %}
    {% endfor %}
  </div>
     <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{scambio.selezionato.via}}, {{scambio.selezionato.city}}, {{scambio.selezionato.cap}}</li>
    </ul>
  </div>


  <div style="width: 10%; text-align: center; display:flex; flex-direction:column; margin-top: 12%">
    <h5>SCAMBIA CON</h5>
  </div>



  <div style="width: 45%; padding: 2%; text-align: center">
    <h1 style="text-align: center; font-size: 150%">{{scambio.sender.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block">
    {% for selezione in scambio.selezioni%}
          {% if scambio.sender.id == selezione.who %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=selezione.card.image) }}"> </div>
         {% endif %}
    {% endfor %}
  </div>
    <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{scambio.sender.via}}, {{scambio.sender.city}}, {{scambio.sender.cap}}</li>
    </ul>
  </div>


</div>

<div style="display: flex; width:100%">
    <span class="material-symbols-outlined" style="align-self: center; font-size: 300%">mail</span>
  <div style="display: inline-flex; margin-left: 2%; margin-top: 2%; width:35%">
      <textarea readonly="true" rows="4" style="width: 100%; resize: none; padding: 1%; border: 3px solid lightgray; border-radius: 10px; background-color: whitesmoke">{{scambio.messaggio}} </textarea>
  </div>

</div>


</div>
<hr>

{% elif scambio.stato == 'refused' %}


<hr>

<div style="padding: 8%; border-radius:10px; background-color: lightcoral; opacity: 80%; margin:2%">

<form action="{{url_for('deletechange')}}" method="post" style=" margin: auto; align-self: center; display: flex; flex-direction: column; gap: 1%; margin-bottom:5%; width:30%">
        <h1 style="color: darkred; margin:auto;">Scambio Rifiutato</h1>
        <input type="hidden" name="idscambio" value="{{scambio.id}}">
        <button type=submit class="btn btn-danger" style="width:50%; margin:auto; margin-top: 2%">Elimina</button>
</form>


<div class="TitleContainer" style="margin-top: -3%;">
            <img class="firsticon" src="/static/avatar ({{scambio.sender.avatar_id}}).png"> </img> <span style="margin-left: 2%; margin-top: 1%">Scambio con {{scambio.sender.nickname}}</span>
</div>



<div style="display: flex; flex-direction: row; margin-top: 3%">

  <div style="width: 45%; padding: 2%; text-align: center; margin: auto">
    <h1 style="text-align: center; font-size: 150%">{{scambio.selezionato.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block">
    {% for selezione in scambio.selezioni%}
        {% if scambio.selezionato.id == selezione.who %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=selezione.card.image) }}"> </div>
        {% endif %}
    {% endfor %}
  </div>
     <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{scambio.selezionato.via}}, {{scambio.selezionato.city}}, {{scambio.selezionato.cap}}</li>
    </ul>
  </div>


  <div style="width: 10%; text-align: center; display:flex; flex-direction:column; margin-top: 12%">
    <h5>SCAMBIA CON</h5>
  </div>



  <div style="width: 45%; padding: 2%; text-align: center">
    <h1 style="text-align: center; font-size: 150%">{{scambio.sender.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block">
    {% for selezione in scambio.selezioni%}
          {% if scambio.sender.id == selezione.who %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=selezione.card.image) }}"> </div>
         {% endif %}
    {% endfor %}
  </div>
    <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{scambio.sender.via}}, {{scambio.sender.city}}, {{scambio.sender.cap}}</li>
    </ul>
  </div>


</div>

<div style="display: flex; width:100%">
    <span class="material-symbols-outlined" style="align-self: center; font-size: 300%">mail</span>
  <div style="display: inline-flex; margin-left: 2%; margin-top: 2%; width:35%">
      <textarea readonly="true" rows="4" style="width: 100%; resize: none; padding: 1%; border: 3px solid lightgray; border-radius: 10px; background-color: whitesmoke">{{scambio.messaggio}} </textarea>
  </div>
</div>


</div>
<hr>

{% elif scambio.stato == 'accepted' %}

<hr>

<div style="padding: 8%; background-color: #9adba2; opacity: 80%; border-radius: 10px; margin:2%">

<form style=" border: 2px solid darkgreen; border-radius: 10px; margin: auto; align-self: center; margin-bottom: 3%; display: flex; flex-direction: column; gap: 1%; width:35%; margin-bottom: 2%">
        <h1 style="color: darkgreen; margin:auto">Scambio Accettato</h1>
        <h5 style="color: darkgreen; text-align: center"> Ritiro previsto: {{scambio.data1}}</h5>
</form>


<div class="TitleContainer" style="margin-top: -3%;">
            <img class="firsticon" src="/static/avatar ({{scambio.sender.avatar_id}}).png"> </img> <span style="margin-left: 2%; margin-top: 1%">Scambio con {{scambio.sender.nickname}}</span>
</div>



<div style="display: flex; flex-direction: row; margin-top: 3%">

  <div style="width: 45%; padding: 2%; text-align: center; margin: auto">
    <h1 style="text-align: center; font-size: 150%">{{scambio.selezionato.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block">
    {% for selezione in scambio.selezioni%}
        {% if scambio.selezionato.id == selezione.who %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=selezione.card.image) }}"> </div>
        {% endif %}
    {% endfor %}
  </div>
     <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{scambio.selezionato.via}}, {{scambio.selezionato.city}}, {{scambio.selezionato.cap}}</li>
    </ul>
  </div>


  <div style="width: 10%; text-align: center; display:flex; flex-direction:column; margin-top: 12%">
    <h5>SCAMBIA CON</h5>
  </div>



  <div style="width: 45%; padding: 2%; text-align: center">
    <h1 style="text-align: center; font-size: 150%">{{scambio.sender.nickname}} offre:</h1>
  <div class="swipe2" style="display: inline-block">
    {% for selezione in scambio.selezioni%}
          {% if scambio.sender.id == selezione.who %}
           <div class="divcarta"><img class="carta" src="{{ url_for('static', filename=selezione.card.image) }}"> </div>
         {% endif %}
    {% endfor %}
  </div>
    <ul class="list-group" style="width: 70%; margin:auto; margin-top: 2%; opacity: 85%">
      <li class="list-group-item">Indirizzo: {{scambio.sender.via}}, {{scambio.sender.city}}, {{scambio.sender.cap}}</li>
    </ul>
  </div>


</div>

<div style="display: flex; width:100%">
    <span class="material-symbols-outlined" style="align-self: center; font-size: 300%">mail</span>
  <div style="display: inline-flex; margin-left: 2%; margin-top: 2%; width:35%">
      <textarea readonly="true" rows="4" style="width: 100%; resize: none; padding: 1%; border: 3px solid lightgray; border-radius: 10px; background-color: whitesmoke">{{scambio.messaggio}} </textarea>
  </div>
</div>


</div>
<hr>




{% endif %}

{% endfor %}
{% endblock %}


