{% extends 'TAbase.html' %}


{% block head %}
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}


{% block body %}
{% for collezionista in col %}
<div style="margin: auto;">
    <div class="card" style="width: 18rem; margin: auto; margin-top: 2%; width: 20%">
        <img src="/static/avatar ({{collezionista.avatar_id}}).png" style="height:50%; width:50%; margin:auto; margin-top: 3%">
      <div class="card-body" style="margin-top: 3%">
        <hr>
        <h5 class="card-title">{{collezionista.nickname}}</h5>
        <p class="card-text">Motivo dei report:
          <ul>
          {% for r in report %}
             <li> {{r.motive}};  </li>
          {% endfor %}
          </ul>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Segnalato da:</li>
        {% for r in report %}
              <li class="list-group-item">{{r.from.nickname}}</li>
        {% endfor %}
      </ul>
        <form  method="POST" action="{{url_for('banuser')}}" style="display: inline-flex; text-align: center">
            <div class="card-body">
                <input type="hidden" name="idtoban" value="{{collezionista.id}}">
                <button class="btn btn-danger">Banna utente</button>
            </div>
        </form>
    </div>
</div>

{% endfor %}
{% endblock %}


