<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title> Collezionisti </title>
    {% block head %}

    {% endblock %}
</head>


<body style="background-color: lightgrey">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="container-fluid">
        <a class="navbar-brand"  style="font-size: 200%; margin-right: 3%">Admin</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item" style="margin-right: 1.5%">
              <a class="nav-link active" aria-current="page" href="{{ url_for('admin') }}">Utenti</a>
            </li>
            <li class="nav-item" style="margin-right: 1.5%">
              <a class="nav-link" href="{{ url_for('admincards') }}">Carte</a>
            </li>
            <li class="nav-item" style="margin-right: 1.5%">
                <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">
                 Home
                </a>
            </li>
            <li class="nav-item" style="margin-right: 1.5%">
                <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">
                 Logout
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block body %}


    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>