<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title> Collezionisti </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    {% block head %}

    {% endblock %}
</head>


<body style="background-color: lightgrey; background: repeating-linear-gradient( 45deg, rgba(64, 82, 128, 0.23), rgba(64, 82, 128, 0.23) 9px, #DBDBDB 9px, #DBDBDB 45px );">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <img style = "height: 50px; width:50px;" src="/static/main.gif"> </img> <a class="navbar-brand"  style="font-size: 200%; margin-right: 3%; margin-left: 1%;">Collezionisti</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item" style="margin-right: 1.5%">
              <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">
                 Home
              </a>
            </li>
              {% if not current_user.is_anonymous %}
              <li class="nav-item dropdown" style="margin-right: 1.5%">
                  <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Scambi
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{{ url_for('exchanges') }} ">Scambi ricevuti</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('sentexchanges') }} ">Scambi inviati</a></li>
                  </ul>
              </li>
                <li class="nav-item" style="margin-right: 1.5%">
                 <a class="nav-link" href="{{ url_for('myprofile') }}">Profilo</a>
                </li>
              {%if current_user.role == 'admin' %}
                <li class="nav-item" style="margin-right: 1.5%">
                <a class="nav-link active" aria-current="page" href="{{ url_for('admin') }}">
                 Admin
                </a>
               </li>
              {% endif %}
              <li class="nav-item" style="margin-right: 1.5%">
                <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">
                 Logout
                </a>
               </li>
              {% endif %}
              {% if current_user.is_anonymous %}
            <li class="nav-item dropdown" style="margin-right: 1.5%">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Accedi
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{{ url_for('login') }} ">Login</a></li>
                <li><a class="dropdown-item" href="{{ url_for('register') }} ">Registrati</a></li>
              </ul>
            </li>

            </ul>
            {% endif %}
        </div>
      </div>
    </nav>


    {% block body %}


    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>

<style>
    body{
        font-family: 'Poppins', sans-serif;
    }

</style>

</html>